{% extends 'master/layout.html' %}

{% block content %}

    <h1>Мои заказы</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Код заказа</th>
            <th>Дата уборки</th>
            <th>Вид уборки</th>
            <th>Начальная стоимость</th>
            <th>Кол-во комнат</th>
            <th>Кол-во санузлов</th>
            <th>Общая стоимость</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>

        {% for order in orders %}
            <tr>
                <td>000{{ order.id }}</td>
                <td>{{ order.order_date }}</td>
                <td>{{ order.service_type }}</td>
                <td>{{ order.service_type.initial_price }}</td>
                <td>{{ order.room_count }} * {{ order.service_type.add_room_price }} руб</td>
                <td>{{ order.bathroom_count }} * {{ order.service_type.add_bathroom_price }} руб</td>
                <td>{{ order.all_price }} руб</td>
                <td><a class="btn btn-success" style="white-space: nowrap" href="{% url 'send-review-url' order.id %}">Подробнее</a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}