{% extends 'master/layout.html' %}

{% block content %}

    <div class="content-block stick-to-footer">
        <div class="page-container container">
            <div class="row">
                <div class="col-md-12 entry-content">
                    <article>
                        <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1492877399723 vc_row-has-fill vc_row-o-equal-height vc_row-flex"
                        style="margin-top: 60px">
                            <div class="wpb_column vc_column_container vc_col-sm-6">
                                <div class="vc_column-inner vc_custom_1489071463849">
                                    <div class="wpb_wrapper">
                                        <div
                                            class="mgt-header-block clearfix text-left text-white wpb_animate_when_almost_visible wpb_fadeInDown fadeInDown wpb_content_element mgt-header-block-style-2 mgt-header-block-fontsize-medium mgt-header-texttransform-subheader mgt-header-block-82528297 vc_custom_1493980728171"
                                        >
                                            <p class="mgt-header-block-subtitle">Кто мы</p>
                                            <h2 class="mgt-header-block-title text-font-weight-default">
                                                Clean Flat,<br />
                                                ваши персональные уборщики квартиры.
                                            </h2>
                                        </div>
                                        <div
                                            class="mgt-button-wrapper mgt-button-wrapper-align-left mgt-button-wrapper-display-newline mgt-button-top-margin-true mgt-button-right-margin-false mgt-button-round-edges-full wpb_animate_when_almost_visible wpb_fadeInDown fadeInDown"
                                        >
                                            <a
                                                class="btn hvr-icon-wobble-vertical mgt-button-icon-true mgt-button mgt-style-solid mgt-size-large mgt-align-left mgt-display-newline mgt-text-size-large mgt-button-icon-separator- mgt-button-icon-position-right text-font-weight-default mgt-text-transform-none mgt-button-58459290 mgt-button-no-text"
                                                rel="lightbox"
                                                href="https://www.youtube.com/watch?v=93aumg7889I"
                                            >
                                                <i class="entypo-icon entypo-icon-play"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-6">
                                <div class="vc_column-inner vc_custom_1487239157606">
                                    <div class="wpb_wrapper">
                                        <div class="mgt-promo-block-container wpb_content_element">
                                            <div class="mgt-promo-block-wrapper mgt-promo-block-shadow mgt-promo-block-hover">
                                                <div
                                                    class="mgt-promo-block animated white-text cover-image darken mgt-promo-block-12612369"
                                                    data-style="background-color: #f5f5f5;background-image: url(https://1.bp.blogspot.com/-NI8vRWdJuZc/XUV99x7xLGI/AAAAAAAAARE/5XPvB2P4Z6Q_EQoR-sWwoWrVm_b81UCiwCLcBGAs/s1600/Local%2Bend%2Bof%2Blease%2Bcleaning%2BAdelaide.jpg);background-repeat: no-repeat;height: 250px;"
                                                >
                                                    <div class="mgt-promo-block-content va-bottom">
                                                        <div class="mgt-promo-block-content-inside">
                                                            <h3 style="text-align: right;">Сотрудничество</h3>
                                                            <p style="text-align: right;">Ты можешь стать частью нас</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row-full-width vc_clearfix"></div>
                        <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1492105077255">
                            <div class="wpb_column vc_column_container vc_col-sm-4">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_text_column wpb_content_element wpb_animate_when_almost_visible wpb_fadeInDown fadeInDown vc_custom_1489052341017 text-size-medium">
                                            <div class="wpb_wrapper">
                                                <p>Убраться дома может каждый, но не каждый сможет делать это стабильно хорошо. Clean Flat может, потому что именно для достижения этой цели мы создали собственные регламенты и специальный чек-лист для наших клинеров.</p>
                                                <p>Это помогает им ничего не упустить из виду, а вам,приходя домой после уборки, наслаждаться чистотой и каждый раз получать ожидаемый результат.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-4">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div
                                            class="mgt-icon-box wpb_content_element wpb_animate_when_almost_visible wpb_fadeInDown fadeInDown mgt-icon-box-right mgt-icon-box-icon-size-large mgt-icon-box-8923334 mgt-icon-font text-black vc_custom_1489059886138"
                                        >
                                            <div class="mgt-icon-box-icon hvr-icon-up"><i class="mgt-font-icon vc_li"></i></div>
                                            <div class="mgt-icon-box-content">
                                                <h5 class="text-font-weight-bold">Проверенные исполнители</h5>
                                                <p>В нашей команде работают 100 высококлассных клинеров, которые знают абсолютно все о чистоте вашего дома.

Каждый день они усовершенствуют свои навыки уборки, а так же в нашем учебном центре они каждый месяц проходят обучение в данной области. Они являются настоящими экспертами в своей сфере.</p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-4">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div
                                            class="mgt-icon-box wpb_content_element wpb_animate_when_almost_visible wpb_fadeInDown fadeInDown mgt-icon-box-right mgt-icon-box-icon-size-large mgt-icon-box-27427449 mgt-icon-font text-black vc_custom_1489059873713"
                                        >
                                            <div class="mgt-icon-box-icon hvr-icon-up"><i class="mgt-font-icon vc_li vc_li-star"></i></div>
                                            <div class="mgt-icon-box-content">
                                                <h5 class="text-font-weight-bold">Мы больше, чем просто клининговая компания</h5>
                                                Чтобы всё работало правильно, мы разработали и внедрили IT платформу, автоматически формирующая и распределяющая заказы.

Платформа тесно связана с приложением для клинеров и с собственной CRM системой, которые каждую секунду предоставляют для неё информацию с телефона клинера для автоматического анализа заказов.
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row-full-width vc_clearfix"></div>

                    </article>
                </div>
            </div>
        </div>
    </div>

{% endblock %}