{% extends 'master/layout.html' %}

{% block content %}

    <div class="content-block stick-to-footer">
        <div class="page-container container">
            <div class="row">
                <div class="col-md-12 entry-content">
                    <article>
                        <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1493032773355 vc_row-has-fill vc_row-o-equal-height vc_row-flex">
                            <div class="wpb_column vc_column_container vc_col-sm-3">
                                <div class="vc_column-inner vc_custom_1489071463849"><div class="wpb_wrapper"></div></div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-6">
                                <div class="vc_column-inner vc_custom_1487239157606">
                                    <div class="wpb_wrapper">
                                        <h2 style="font-size: 58px; color: #ffffff; line-height: 60px; text-align: center; font-family: Satisfy; font-weight: 400; font-style: normal;" class="vc_custom_heading">
                                            Наши контакты
                                        </h2>
{#                                        <div class="wpb_text_column wpb_content_element wpb_animate_when_almost_visible wpb_fadeInDown fadeInDown vc_custom_1493031323847">#}
{#                                            <div class="wpb_wrapper">#}
{#                                                <p style="text-align: center;">#}
{#                                                    <span style="color: #ffffff;">Москва, 5-я Парковая 39к1</span><br />#}
{#                                                    <span style="color: #ffffff;">Подъезд 2, кв. 21</span><br />#}
{#                                                    <span style="color: #ffffff;">Россия</span>#}
{#                                                </p>#}
{#                                            </div>#}
{#                                        </div>#}
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-3">
                                <div class="vc_column-inner"><div class="wpb_wrapper"></div></div>
                            </div>
                        </div>
                        <div class="vc_row-full-width vc_clearfix"></div>
                        <div class="vc_row wpb_row vc_row-fluid vc_custom_1493031704475">
                            <div class="wpb_column vc_column_container vc_col-sm-4">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_text_column wpb_content_element">
                                            <div class="wpb_wrapper">
                                                <h3><strong>Почта</strong></h3>
                                                <p>
                                                    <a class="ani-link red" href="#">
                                                        <span class="__cf_email__">support@cleanflat.ru</span>
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-4">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_text_column wpb_content_element">
                                            <div class="wpb_wrapper">
                                                <h3><strong>Номер телефона</strong></h3>
                                                <p>
                                                    <a href="tel:89772565680">
                                                        <span class="__cf_email__">+7 (977) 256-56-80</span>
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-4">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_text_column wpb_content_element">
                                            <div class="wpb_wrapper">
                                                <h3><strong>Адрес</strong></h3>
                                                <p>
                                                    <span>Москва, 5-я Парковая 39к1</span><br />
                                                    <span>Подъезд 2, кв. 21</span><br />
                                                    <span>Россия</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>

{% endblock %}