{% extends 'master/layout.html' %}
{% block content %}
    <div class="container-bg with-bg container-fluid" data-style="background-image: url(https://avatars.mds.yandex.net/get-zen_doc/1221883/pub_5c9dd99ea97ada00b46f05a1_5c9dda5753a11600b3a8f4cb/scale_1200);">
        <div class="container-bg-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-item-title">
                            <h1 class="text-center texttransform-none">Clean Flat — работает. Вы отдыхаете.</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumbs-container-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/">
                            <!-- Breadcrumb NavXT 5.7.1 -->
                            <span property="itemListElement" typeof="ListItem">
                                    <a property="item" typeof="WebPage" title="Go to Barrel." href="{% url 'master-index-url' %}"
                                       class="home"><span property="name">Главная</span></a>
                                    <meta property="position" content="1"/>
                                </span>
{#                            &gt; <span property="itemListElement" typeof="ListItem"><span#}
{#                                property="name">About minimal</span><meta property="position" content="2"/></span>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-container container">
        <div class="row">
            <div class="col-md-12 entry-content">
                <article>
                    <div data-vc-full-width="true" data-vc-full-width-init="false"
                         class="vc_row wpb_row vc_row-fluid vc_custom_1489136895964">
                        <div class="wpb_column vc_column_container vc_col-sm-6">
                            <div class="vc_column-inner vc_custom_1489396423070">
                                <div class="wpb_wrapper">
                                    <div class="mgt-header-block clearfix text-left text-black wpb_content_element mgt-header-block-style-2 mgt-header-block-fontsize-regular mgt-header-texttransform-none mgt-header-block-72193266">
                                        <h2 class="mgt-header-block-title text-font-weight-default">О компании “Qweep”</h2>
                                        <div class="mgt-header-line mgt-header-line-margin-small"></div>
                                    </div>

                                    <div class="wpb_text_column wpb_content_element text-size-medium">
                                        <div class="wpb_wrapper">
                                            <p>Qweep — это сервис по уборке. В нашей команде работают более 30 высококлассных клиннеров.</p>
                                        </div>
                                    </div>

                                    <div class="wpb_text_column wpb_content_element vc_custom_1489394374358 text-size-medium">
                                        <div class="wpb_wrapper">
                                            <p>
                                                Мы — сервис по уборке квартир Clean Flat, созданный командой молодых людей, которые решили изменить быт горожан в области домашних дел в лучшую сторону.
                                                <br>
                                                <br>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-6">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="mgt-images-slider mgt-images-slider-28532413 wpb_content_element">
                                        <div class="mgt-images-slider-items">
                                            <div class="mgt-images-slider-item"><img src="upload/workspace.jpg" alt=""/>
                                            </div>
                                            <div class="mgt-images-slider-item"><img src="upload/color-people.jpg"
                                                                                     alt=""/></div>
                                            <div class="mgt-images-slider-item"><img src="upload/fun-people-young.jpg"
                                                                                     alt=""/></div>
                                            <div class="mgt-images-slider-item"><img
                                                    src="upload/general-director-meet-up.jpg" alt=""/></div>
                                            <div class="mgt-images-slider-item"><img src="upload/man-headphones.jpg"
                                                                                     alt=""/></div>
                                            <div class="mgt-images-slider-item"><img src="upload/Clients-days.jpg"
                                                                                     alt=""/></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row-full-width vc_clearfix"></div>
                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text vc_sep_color_grey">
                                        <span class="vc_sep_holder vc_sep_holder_l"><span
                                                class="vc_sep_line"></span></span><span
                                            class="vc_sep_holder vc_sep_holder_r"><span
                                            class="vc_sep_line"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row wpb_row vc_row-fluid vc_custom_1489487488047">
                        <div class="wpb_column vc_column_container vc_col-sm-4">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="mgt-promo-block-container wpb_content_element">
                                        <div class="mgt-promo-block-wrapper mgt-promo-block-shadow mgt-promo-block-hover">
                                            <div
                                                    class="mgt-promo-block black-text cover-image no-darken mgt-promo-block-57080567"
                                                    data-style="background-color: #f5f5f5;background-image: url(http://втуалете.рф/uploads/posts/2019-08/1565897030_uborka-kottedzhey.jpg);background-repeat: no-repeat;height: 245px;"
                                            >
                                                <div class="mgt-promo-block-content va-middle">
                                                    <div class="mgt-promo-block-content-inside"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                            class="mgt-header-block clearfix text-left text-black wpb_content_element mgt-header-block-style-2 mgt-header-block-fontsize-regular mgt-header-texttransform-subheader mgt-header-block-57493570"
                                    >
                                        <h3 class="mgt-header-block-title text-font-weight-default">Наши клинеры</h3>
                                        <div class="mgt-header-line mgt-header-line-margin-small"></div>
                                    </div>

                                    <div class="wpb_text_column wpb_content_element vc_custom_1489487414570">
                                        <div class="wpb_wrapper">
                                            <p>С нами сотрудничают уже более 100 профессиональных исполнителей — познакомьтесь с их историями о себе и своей любви к порядку и чистоте.</p>
                                        </div>
                                    </div>
                                    <div class="mgt-button-wrapper mgt-button-wrapper-align-center mgt-button-wrapper-display-inline mgt-button-top-margin-false mgt-button-right-margin-false mgt-button-round-edges-small">
                                        <a
                                                class="btn hvr-grow mgt-button-icon-true mgt-button mgt-style-borderedgrey mgt-size-normal mgt-align-center mgt-display-inline mgt-text-size-small mgt-button-icon-separator-true mgt-button-icon-position-right text-font-weight-default mgt-text-transform-none"
                                                href="{% url 'about-url' %}">Подробнее<i class="entypo-icon entypo-icon-right-open"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-4">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="mgt-promo-block-container wpb_content_element">
                                        <div class="mgt-promo-block-wrapper mgt-promo-block-shadow mgt-promo-block-hover">
                                            <div
                                                    class="mgt-promo-block black-text cover-image no-darken mgt-promo-block-28110039"
                                                    data-style="background-color: #f5f5f5;background-image: url(https://user-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_limit,fl_lossy,h_630,w_1200,f_auto,q_auto/1176155/757120_559770.jpeg);background-repeat: no-repeat;height: 245px;"
                                            >
                                                <div class="mgt-promo-block-content va-middle">
                                                    <div class="mgt-promo-block-content-inside"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                            class="mgt-header-block clearfix text-left text-black wpb_content_element mgt-header-block-style-2 mgt-header-block-fontsize-regular mgt-header-texttransform-subheader mgt-header-block-35314002"
                                    >
                                        <h3 class="mgt-header-block-title text-font-weight-default">Наши средства уборки</h3>
                                        <div class="mgt-header-line mgt-header-line-margin-small"></div>
                                    </div>

                                    <div class="wpb_text_column wpb_content_element vc_custom_1489487404683">
                                        <div class="wpb_wrapper">
                                            <p>Мы используем только высококачественные гипоаллергенные моющие средства, которые несомненно сделают вашу квартиру идеально чистой.</p>
                                        </div>
                                    </div>
                                    <div class="mgt-button-wrapper mgt-button-wrapper-align-center mgt-button-wrapper-display-inline mgt-button-top-margin-false mgt-button-right-margin-false mgt-button-round-edges-small">
                                        <a
                                                class="btn hvr-icon-wobble-horizontal mgt-button-icon-true mgt-button mgt-style-borderedgrey mgt-size-normal mgt-align-center mgt-display-inline mgt-text-size-small mgt-button-icon-separator-true mgt-button-icon-position-right text-font-weight-default mgt-text-transform-none"
                                                href="{% url 'about-url' %}">Подробнее<i class="entypo-icon entypo-icon-right-open"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-4">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div
                                            class="mgt-header-block clearfix text-left text-black wpb_animate_when_almost_visible wpb_fadeInDown fadeInDown wpb_content_element mgt-header-block-style-2 mgt-header-block-fontsize-regular mgt-header-texttransform-subheader mgt-header-block-36902586 vc_custom_1489487367512"
                                    >
                                        <h2 class="mgt-header-block-title text-font-weight-default">Есть вопросы?</h2>
                                        <div class="mgt-header-line mgt-header-line-margin-small"></div>
                                    </div>

                                    <div class="wpb_text_column wpb_content_element vc_custom_1489487399146">
                                        <div class="wpb_wrapper">
                                            <p>These are just some of the most common questions we get asked. For
                                                anything else, please – we would be delighted to help.</p>
                                        </div>
                                    </div>
                                    <div class="vc_tta-container" data-vc-action="collapse">
                                        <div class="vc_general vc_tta vc_tta-accordion vc_tta-color-grey vc_tta-style-flat vc_tta-shape-rounded vc_tta-o-shape-group vc_tta-controls-align-left vc_tta-o-no-fill">
                                            <div class="vc_tta-panels-container">
                                                <div class="vc_tta-panels">
                                                    <div class="vc_tta-panel vc_active" id="1489486512699-23642ab8-d1b2"
                                                         data-vc-content=".vc_tta-panel-body">
                                                        <div class="vc_tta-panel-heading">
                                                            <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-right">
                                                                <a href="#1489486512699-23642ab8-d1b2" data-vc-accordion
                                                                   data-vc-container=".vc_tta-container">
                                                                    <span class="vc_tta-title-text">Как давно вы открылись?</span><i
                                                                        class="vc_tta-controls-icon vc_tta-controls-icon-plus"></i>
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <div class="vc_tta-panel-body">
                                                            <div class="wpb_text_column wpb_content_element">
                                                                <div class="wpb_wrapper">
                                                                    <p>
                                                                            <span style="color: #999999;">
                                                                                Мы открылись совсем недавно, в начале января 2021 года. Пока что мы работаем только по Москве, но в наших планах посетить и другие города России.
                                                                            </span>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="vc_tta-panel" id="1489486537976-e8bf8d32-ebf6"
                                                         data-vc-content=".vc_tta-panel-body">
                                                        <div class="vc_tta-panel-heading">
                                                            <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-right">
                                                                <a href="#1489486537976-e8bf8d32-ebf6" data-vc-accordion
                                                                   data-vc-container=".vc_tta-container">
                                                                    <span class="vc_tta-title-text">Делаете ли вы уборку после ремонта?</span><i
                                                                        class="vc_tta-controls-icon vc_tta-controls-icon-plus"></i>
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <div class="vc_tta-panel-body">
                                                            <div class="wpb_text_column wpb_content_element">
                                                                <div class="wpb_wrapper">
                                                                    <p>
                                                                        Да, делаем. Уборка после ремонта проводится в формате почасовой уборки. Всё дело в том, что послестроительная уборка или уборка после ремонта, сильно отличается не только от стандартной поддерживающей, но даже от генеральной уборки. Для таких убороки мы берём с собой специальный инвентарь и используем специальную химию, которая позволяет нам справиться с любыми загрязнениями, оставленными после ремонта: пыль, разводы, пятна краски, штукатурки, шпатлёвки, лака, бетона и т.д. Просто закажите уборку после ремонта на нашем сайте и мы вам всё расскажем.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="vc_tta-panel" id="1489486536953-71ea42c0-ebbb"
                                                         data-vc-content=".vc_tta-panel-body">
                                                        <div class="vc_tta-panel-heading">
                                                            <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-right">
                                                                <a href="#1489486536953-71ea42c0-ebbb" data-vc-accordion
                                                                   data-vc-container=".vc_tta-container">
                                                                    <span class="vc_tta-title-text">Двигаете ли вы мебель во время уборки?</span><i
                                                                        class="vc_tta-controls-icon vc_tta-controls-icon-plus"></i>
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <div class="vc_tta-panel-body">
                                                            <div class="wpb_text_column wpb_content_element">
                                                                <div class="wpb_wrapper">
                                                                    <p>
                                                                        Во время поддерживающей уборки мы не двигаем тяжёлую мебель, чтобы ненароком не повредить ваше любимое напольное покрытие, саму мебель или наших клинеров. Более подробно с кем, как мы убираемся, вы можете ознакомиться в нашем регламенте для уборок.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row wpb_row vc_row-fluid vc_custom_1489487584497">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text vc_sep_color_grey">
                                        <span class="vc_sep_holder vc_sep_holder_l"><span
                                                class="vc_sep_line"></span></span><span
                                            class="vc_sep_holder vc_sep_holder_r"><span
                                            class="vc_sep_line"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="mgt-images-slider mgt-images-slider-padding mgt-images-slider-67108977 wpb_content_element">
                                        <div class="mgt-images-slider-items">
                                            <div class="mgt-images-slider-item"><img src="upload/Logo-B-1.png" alt=""/>
                                            </div>
                                            <div class="mgt-images-slider-item"><img src="upload/logo-b-2.png" alt=""/>
                                            </div>
                                            <div class="mgt-images-slider-item"><img src="upload/logo-b-3.png" alt=""/>
                                            </div>
                                            <div class="mgt-images-slider-item"><img src="upload/logo-b-4.png" alt=""/>
                                            </div>
                                            <div class="mgt-images-slider-item"><img src="upload/logo-b-5.png" alt=""/>
                                            </div>
                                            <div class="mgt-images-slider-item"><img src="upload/logo-b-6.png" alt=""/>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
{% endblock %}